#title{
	font-family: 'Bree Serif', serif;
	font-size: 64px;
}

.buttons{
	margin: auto;
}

.btn{
	cursor: pointer;
}

#map1{
	background-color: red;
	height: 150px;
	width: 100px;
	border-style: solid;
  border-color: green;
	float: left;
}

#map {
  text-align: center;
  margin: 16px auto;
}

.map-row-col {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.map-row {
  /*height: 64px;*/
}

.map-row-col-tile {
  height: 64px;
  width: 64px;
  margin-right: 2px;
  margin-left: 2px;
/*  border: 1px solid black;
*/  background-image: url("../src/img/ocean.gif");
}

.map-row-col .obstacle {
  background-image: url("../src/img/anchor.jpg");
}

.map-row-col .seen {
  background-color: green;
}

.map-row-col .visited {
  background-image: url("../src/img/waves.jpg");
}