#title{
	font-family: 'Bree Serif', serif;
	font-size: 64px;
}

.buttons{
	margin: auto;
}

.btn{
	cursor: pointer;
}

#map1{
	background-color: red;
	height: 150px;
	width: 100px;
	border-style: solid;
  border-color: green;
	float: left;
}

#map {
  text-align: center;
  margin: 16px auto;
}

.map-row-col {
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.map-row {
  /*height: 64px;*/
}

.map-row-col-tile {
  height: 64px;
  width: 64px;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px solid black;
  background-color: #512;
}

.map-row-col .obstacle {
  background-color: #128;
}

.map-row-col .seen {
  background-color: green;
}

.map-row-col .visited {
  background-color: gray;
}

.map-row-col .path {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='black' stroke-width='1'/><path d='M0 0 L100 100 ' stroke='black' stroke-width='1'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 100% 100%, auto;
}

.map-row-col .start {
  background-color: yellow;
}

.map-row-col .goal {
  background-color: blue;
}