#title{
	font-family: 'Bree Serif', serif;
	font-size: 64px;
}

.buttons{
	margin: auto;
}

.btn{
	cursor: pointer;
}

#map1{
	background-color: red;
	height: 150px;
	width: 100px;
	border-style: solid;
    border-color: green;
	float: left;
}

